<html ng-app="nameApp">
  <head>
    <meta charset="utf-8">
    <title>Angular.js Example</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script type="text/javascript" src="js/home.js"></script>
   <script src="js/angular-spinkit.min.js"></script>
   
   <link rel='stylesheet' href='build/loading-bar.min.css' type='text/css' media='all' />
<script type='text/javascript' src='build/loading-bar.min.js'></script>
   <style>
   .clsMap{
	   width:100%;
	   height:100%;
   }
   .main{
          font-family: initial;
    font-size: 160%;
    color: gray;
  
   }
   .place{
       color:#504F4F;
    font-size: xx-large;
   
   }
   .Temp-of-Day{
       font-size: 237%;
    font-weight: 700;
   }
   .img-size{
       width: 24%;
   }
   .spinner {
height:60px;
width:60px;
margin:0 auto;
position:relative;
-webkit-animation: rotation .6s infinite linear;
-moz-animation: rotation .6s infinite linear;
-o-animation: rotation .6s infinite linear;
animation: rotation .6s infinite linear;
border:6px solid rgba(0,174,239,.15);
border-radius:100%;
}

.spinner:before {
content:"";
display:block;
position:absolute;
left:-6px;
top:-6px;
height:100%;
width:100%;
border-top:6px solid rgba(0,174,239,.8);
border-left:6px solid transparent;
border-bottom:6px solid transparent;
border-right:6px solid transparent;
border-radius:100%;
}

@-webkit-keyframes rotation {
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
from {-moz-transform: rotate(0deg);}
to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
from {-o-transform: rotate(0deg);}
to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
from {transform: rotate(0deg);}
to {transform: rotate(359deg);}
}
.adjust{

    position: relative;
    top: 15%;
    right: 22%;
}
tr:nth-child(even) {background: #e8e8e8}
tr:nth-child(odd) {background: #FFF}

table, th, td {
   border: 1px solid black;
}
.tblfnt{
color:gray;
font-family: initial;
    font-size: 113%;
}
   </style>
  </head>
  <body ng-controller="detailsController">
  <div class="spinner adjust" ng-show= "spin"></div>
    <div class ="container-fluid main" ng-show = "content">
		<div class="row">
			<div class = "col-md-5 col-sm-5 place">{{report.name}}</div>
		</div>
		
		
		<br/>
		
		
		<div class="row">
			<div class="col-md-5 col-sm-5">
			
				<img src = "partly_cloudy.png" ng-if = " report.weather[0].description == 'mostly sunny'|| report.weather[0].description == 'partly cloudy' || report.weather[0].description == 'scattered clouds' " class="img-size"/>
				<img src = "rain_s_cloudy.png" ng-if = "report.weather[0].description == 'scattered showers' || report.weather[0].description == 'scattered thunderstorms' " class="img-size"/>
				<img src = "sunny.png" ng-if = "report.weather[0].description != 'Scattered Showers' && report.weather[0].description != 'Scattered Thunderstorms' && report.weather[0].description != 'Mostly Sunny' && report.weather[0].description != 'Partly Cloudy' && report.weather[0].description != 'scattered clouds' " class="img-size"/>
				
				<span class = "Temp-of-Day"> {{report.main.temp - 273.15}} <sup>o<sub>C</sub></sup> </span>
			</div>
			
			
			
		</div>
		<br/>
		<div class = "row">
		
			<div class = "col-md-5 col-sm-5">{{report.weather[0].description}} </div>
			
		</div>
		<br/>
		<div class = "row">
		
			<div class = "col-md-5 col-sm-5">get at {{date | date:"MM/dd/yyyy 'at' h:mma"}} </div>
			
		</div>
		<br/>
		<div class = "row">
			<div class = "col-md-5 col-sm-5">
				<table class="tblFnt" >
					<tr>
						<td>Wind</td>
						<td>{{report.wind.speed}} m/s<br/>NORTH({{360 - report.wind.deg}}) </td>
					</tr>
					
					<tr>
						<td>Cloudliness</td>
						<td>{{report.weather[0].main}}</td>
					</tr>
					
					<tr>
						<td>Pressure</td>
						<td>{{report.main.pressure}} hpa</td>
					</tr>
					
					<tr>
						<td>Humidity</td>
						<td>{{report.main.humidity}} %</td>
					</tr>
					
					<tr>
						<td>Sunrise</td>
						<td>{{report.sys.sunrise | date:"hh:mma"}}</td>
					</tr>
					<tr>
						<td>Sunset</td>
						<td> {{report.sys.sunset | date:"hh:mma"}}</td>
					</tr>
					<tr>
						<td>Geo coords</td>
						<td style ="color:#FDD094">[{{report.coord.lat}},{{report.coord.lng}}]</td>
					</tr>
				</table>
			</div>
		</div>
	
	</div>

  </body>
</html>